body{
	background-color: white;
}

#canvas-container{
	overflow: hidden;
}

nav{
	width: 15%;
	background-color: #006d49;
	height: 100vh;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	z-index: 2;
	padding: 150px 15px;
}

.projects-menu{
	position: fixed;
	top: 0px;
}

.projects-menu-icn{
	position: fixed;
	top: 30px;
	left: 30px;
}

#icn-menu-sm{
	z-index: 2;
	position: fixed;
	top: 30px;
	left: 30px;
}

@media (max-width: 768px) {
	nav{
		width: 50%;
	}
}
nav ul{
	list-style: none;
	width: 100%;
	padding: 0px;
	vertical-align: middle;
}

.nav-element{
	width: 100%;
	margin: 35px 0px;
	padding-bottom: 12px;
	letter-spacing: 4px;
}


.nav-element:hover{
	padding-bottom: 11px;
	border-bottom: 1px solid white;
}

.subrayado{
	padding-bottom: 11px;
	border-bottom: 1px solid white;	
}
.nav-element a{
	color: white;
	width: 100%;
}

.nav-element a:link{
	color: white;
	text-decoration: none;
}

.nav-element a:visited{
	color: white;
	text-decoration: none;
}
.nav-element a:hover{
	color: white;
	text-decoration: none;
}

.nav-element a:active{
	color: white;
	text-decoration: none;
}

#david{
	height: 100vh;
	position: relative;
}


#david-info{
	margin-top: 5%;
	color: #262626;
}
#david h1{
	font-family: 'Glegoo', serif;
	font-size: 50;
	display: block;
	line-height: 45px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 
}

#david p{
	margin-top: 20%;	
}

#david img{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

@media (max-width: 1500px) and (orientation: portrait){
	#david img{
		width: 50%;
	}
}


@media (max-width: 760px){
	#david h1{
		margin-top: 100px;
	}
}

#abilities{
	height: 100vh;
	position: relative;
	padding-top: 20%;
}

@media (max-width: 1500px) and (orientation: portrait){
	#abilities{
		padding-top: 50%;
	}
}

@media (max-width: 1500px) and (orientation: landscape){
	#abilities{
		padding-top: 10%;
	}
}


.linea-formas{
	margin-bottom: 0px;
}

.figura-ab{
	transition:.2s ease-out;
}

.figura-ab:hover{
	transform: rotate(90deg) scale(0.7);
	-webkit-transform: rotate(90deg) scale(0.7);
	-moz-transform: rotate(90deg) scale(0.7);
	-ms-transform: rotate(90deg) scale(0.7);

	transition: .2s ease-out;
}

.text-abilities{
	font-family: 'Glegoo', serif;
	font-size: 24; 
	text-align: center;
	color : white;
	white-space: nowrap;
	margin-bottom: 50px;
	transition: .5s ease-out;
}

.colblack{
	color: #262626;
}

#work{
	padding-top: 10%;
}

@media (min-width: 760px){
	#work{
		height: 100vh;
	}
}


@media (max-width: 360px) and (orientation: portrait){
	#work{
		padding-top: 0px;
	}
}

@media (max-width: 1500px) and (orientation: portrait){
	#work{
		padding-top: 50%;
	}
}

@media (max-width: 1500px) and (orientation: landscape){
	#work{
		padding-top: 0px;
	}
}


.project-card{
	margin-top: 30px;

	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	
	transition: .1s ease-in;
}

.project-card:hover{
	transform: translate(0px, -5px);
	-webkit-transform: translate(0px, -5px);
	-moz-transform: translate(0px, -5px);
	-ms-transform: translate(0px, -5px);

	transition: .1s ease-in;
}

.prj-card-text{
	z-index: 2;
	position: absolute;
	width: 80%;
	background-color: #262626;
	padding: 8px;
	color: white;
}

.project-card h2{
	font-size: 24px;
	font-family: 'Glegoo', serif;
	margin: 0px;
}

.project-card h3{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	margin: 5px 0px;
}

.card-top{
	top: 25%;
	left: 10%;
}

.card-bottom{
	bottom: 25%;
	left: 10%;
}

#contact{
	height: 100vh;
	padding-top: 10%;
}

@media (max-width: 360px) and (orientation: portrait){
	#contact{
		padding-top: 30%;
	}
}

@media (max-width: 1500px) and (orientation: portrait){
	#contact{
		padding-top: 10%;
	}
}

@media (max-width: 1500px) and (orientation: landscape){
	#contact{
		padding-top: 0px;
	}
}

#contact h1{
	font-family: 'Glegoo', serif;
	font-size: 50;
	display: block;
	line-height: 45px;
	margin-bottom: 50px;
	margin-top: 50px;
}

#contact img{
	margin-top: 20px;
}

#contact ul{
	padding: 0px;
	list-style: none;
}

#contact a{
	text-decoration: none;
	margin: 0px;
	color: #262626;
}

#contact a:hover{
	color: #565656;
}

#contact a, span{
	margin-left: 10px;
}

#icn-back{
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	
	transition: .1s ease-in;
}

#icn-back:hover{
	transform: translate(-3px, 0px);
	-webkit-transform: translate(-3px, 0px);
	-moz-transform: translate(-3px, 0px);
	-ms-transform: translate(-3px, 0px);
	
	transition: .1s ease-in;
}

#icn-back a{
	color: white;
	text-decoration: none;
}

.project{
	position: relative;
	margin-top: 100px;
}

@media (min-width: 1000px){
	.project{
		height: 100vh;
	}

	.project:first-child{
		margin-top: 0px;
	}

	.project-info{
		margin-top: 100px;
	}
}
@media (min-width: 1500px){
	.project{
		padding-top: 10%;
	}
}



.project-info{
	color: #262626;
}

.project h1{
	font-family: 'Glegoo', serif;
	font-size: 50;
	display: block;
	line-height: 45px;
}

.project p{
	margin-top: 10%;	
}

.project .img-container{
	margin-top: 20px;
}

.project-sub-imgs{
	margin-top: 30px;
}