:root {
    --black: #262626;
    --light-green: #00A576;
    --dark-green: #00845B;
    --light-gray: #D1D1D1;
    --dark-gray: #5C5C5C;
    --bg: #F8F8F8;
}

::selection {
    background-color: var(--light-green);
    color: white;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

h2{
    font-family: 'Merriweather', serif;
    color: var(--black);
    font-weight: bold;
    font-size: 32px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    font-weight: normal;
    font-size: 14px;
}

em{
    font-family: 'Merriweather', serif;
}

/* ---------HEADER----------  */
header{
    height: 100vh;
    width: 100%;
    /* display: none; */
}

#mesh-header-container{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: stretch;
}

.mesh-header{
    width: 33.33%;
}

.mesh-header-square{
    position: absolute;
    width: 1%;
    min-width: 14px;
}
#mesh-header-square1{
    left: calc(33.33% - 0.5%);
    top: calc(55vh * 0.6666 - 0.5%);
}
#mesh-header-square2{
    left: calc(66.66% - 00.5%);
    top: calc(55vh * 0.3333 - 0.5%);
}

#logo-header{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-header img{
    margin: 0;
    width: 10%;
    min-width: 150px;
}

/* ---------NAV----------  */
nav{
    position: absolute;
    top: 100vh;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80px;
    z-index: 4;
}

#nav-line{
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: var(--light-gray);
    margin: 10% 0;
    z-index: -2;
}

.nav-element{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--light-gray);
    margin: 2.5vh 0;
    padding: 20px 0;
    width: auto;
    text-align: center;
    background-color: var(--bg);
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: 200ms;
}

.nav-element h6{
    margin: 0;
    padding: 0;
}

.nav-elem-p h6{
    writing-mode: horizontal-tb !important;
}

.nav-main-selected h6{
    color: var(--dark-green);
}

.nav-selected h6{
    color: var(--dark-green);
    writing-mode: vertical-rl;
}

@media (max-width: 768px){
    nav{
        right: 20px;
    }
}

@media (max-width: 640px){
    nav{
        position: absolute;
        top: 200vh;
        left: 0px;
        flex-direction: row;
        height: 50px;
        width: 100%;
        height: auto;
        z-index: 4;
        background: rgb(248,248,248);
        background: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 25%, rgba(248,248,248,1) 85%, rgba(248,248,248,0) 100%);
    }

    .nav-element{
        margin: 0 3%;
        padding: 20px 20px;
        background: rgb(248,248,248);
        background: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 50%, rgba(248,248,248,0) 100%);
    }

    #nav-line{
        width: 90%;
        height: 1px;
        margin: 0;
    }
    .nav-selected h6{
        writing-mode: horizontal-tb;
    }
}

/* ---------INTRO----------  */

#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content-intro{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#photo{
    width: 13%;
    margin-right: 1.6%;
}

#text-highlight{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#text-highlight h2{
    width: 200px;
    position: absolute;
    margin-left: 24px;
    margin-top: -170px;
}

.highlight-borders {
    border-top: solid 1px var(--light-gray);
    border-bottom: solid 1px var(--light-gray);
    padding: 12px 24px;
}

.highlight-borders p{
    margin: 12px 0px;
}


@media (max-width: 768px){
    #photo{
        width: 20%;
    }

    #text-highlight{
        width: 40%;
    }
}


@media (max-width: 640px){
    #content-intro{
        flex-direction: column;
        align-items: center;
    }

    #text-highlight{
        width: 85%;
    }

    #text-highlight h2{
        margin-left: calc(24px + 35%);
       font-size: 28px;
    }

    #photo{
        align-self: self-start;
        margin-left: 12.5%;
        width: 35%;
    }
}

@media (max-width: 350px){
    #text-highlight h2{
       margin-top: -203px;
    }
}

/* ---------KNOWLEDGE----------  */

#knowledge{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

#content-knowledge{
    width: 44%;
    height: auto;
    max-width: 800px;
    position: relative;
}

#mesh-knowledge{
    top: 0;
    position: absolute;
    width: 100%;
    height: 78%;
}

#square-knowledge{
    position: absolute;
    width: 2.5%;
    min-width: 14px;
    left: calc(50% - 1.25%);
    top: calc(44% - 1.25%);
}

#list-skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: relative;
    top: 0;
    left: -12%;
    width: 124%;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-align: center;
    width: 23.5%;
    position: relative;
    margin-bottom: 10.6%;
}

.dot-skill{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--light-gray);
    margin-top: -1%;
}

.skill h6{
    margin-top: 15%;
    margin-bottom: 9%;
    width: 100%;
    height: 26.8%;
    color: var(--dark-gray);
}

.skill-A h6{
    font-weight: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.skill-B h6{
    font-weight: normal;
    font-size: 14px;
    font-family: 'Arvo', serif;
    font-style: italic;
}
.skill-C h6{
    font-weight: normal;
    font-size: 14px;
    font-family: 'Coming Soon', sans-serif;
}
.skill-main h6{
    color: var(--black) !important;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

.skill-main .dot-skill{
    background-color: var(--dark-green);
}

@media (max-width: 768px){
    #content-knowledge{
        width: 50%;
    }
    #mesh-knowledge {
        height: 77%;
    }
    #square-knowledge {
        top: calc(38.5% - 1.25%);
    }
}
@media (max-width: 640px){
    #content-knowledge{
        width: 70%;
        height: 90%;
    }
    .skill{
        margin-bottom: 17.6%;
    }
    #mesh-knowledge {
        height: 73%;
    }
    #square-knowledge {
        opacity: 0;
    }
    .skill-main h6{
        font-size: 12px !important;
    }
    .skill-A h6, .skill-B h6, .skill-C h6{
        font-size: 10px !important;
    }
}

@media (max-width: 350px){
    .skill{
        margin-bottom: 11.6%;
    }
}

/* ---------WORK----------  */

#work{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

#content-work{
    width: 70%;
    height: 80vh;
    max-width: 1280px;
    max-height: 920px;
    display: flex;
    flex-wrap: wrap;
}

.project-thumb{
    position: relative;
    padding: 1%;
    height: 50%;
    cursor: pointer;
}

.thumb-big{
    width: 58%;
}

.thumb-small{
    width: 38%;
}

.thumb-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: 250ms;
}

.project-thumb:hover .thumb-img{
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

#thumb-domu{
    background-image: url("imgs/tmb_domu.png");
}
#thumb-mimic{
    background-image: url("imgs/tmb_mim.png");
}
#thumb-money{
    background-image: url("imgs/tmb_mon.png");
}
#thumb-legal{
    background-image: url("imgs/tmb_leg.png");
}

.thumb-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(248,248,248,0.3);
    background: linear-gradient(180deg, rgba(248,248,248,0.3) 0%, rgba(248,248,248,0.7) 100%);
    transition: 250ms;
}

.project-thumb:hover .thumb-gradient{
    opacity: 0;
}

.thumb-gradient-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(248,248,248,0.3);
    background: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1.0) 90%);
}

.hover-effects{
    opacity: 0;
    transition: 250ms;
}

.project-thumb:hover .hover-effects{
    opacity: 1;
}

.thumb-x{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.project-thumb h4{
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: var(--black);
    position: absolute;
    bottom: 44px;
    z-index: 2;
    margin: 0;
    left: 22px;
}

.project-thumb p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: var(--dark-green);
    position: absolute;
    bottom: 22px;
    z-index: 2;
    margin: 0;
    left: 22px;
}

@media (max-width: 768px){
    .project-thumb{
        height: 25%;
    }

    .project-thumb:hover{

    }
    .thumb-gradient{
        opacity: 0;
    }

    .thumb-img{
        -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
        filter: grayscale(0%);
    }

    .thumb-big, .thumb-small{
        width: 100%;
    }

    .hover-effects{
        opacity: 1;
    }
}

@media (max-width: 640px){
    #content-work{
        width: 100%;
    }
}

/* ---------CONTACT----------  */

#contact{
    padding: 80px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

#globe{
    width: 56%;
    max-width: 1200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#content-contact{
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#contact-items{
    width: 36%;
}

#contact-items h2{
    text-align: right;
    padding: 0 24px;
}

.contact-item{
    display: flex;
    justify-content: flex-end;
    margin: 7.5% 0;
    text-decoration: none;
}

.contact-item:hover p{
    text-decoration: underline;
}

.contact-item p{
    margin: 0;
}

.icn-contact{
    width: 6%;
    height: 6%;
    min-width: 20px;
}


@media (max-width: 768px){

    #contact{
        align-items: flex-start;
    }
    #globe{
        width: 86%;
    }

    #contact-items {
        width: 56%;
    }
}


@media (max-width: 640px){
    #contact {
        padding: 40px 0;
        height: calc(100vh - 80px);
    }
    #content-contact{
        width: 85%;
    }

    #contact-items {
        width: 100%;
    }

    .contact-item {
        margin: 4.5% 0;
    }
}

/*-----PROJECTS-------*/
.project{
    width: 100%;
    padding: 60px 0;
}

.project-info{
    position: relative;
    width: 45%;
    max-width: 500px;
    margin-left: 22%;
    margin-bottom: 75px;
}

.project-info img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: -44px;
    top: 6px;
}

.project-title em{
    font-size: 13px;
    color: var(--dark-gray);
}

.projects-carousel{
    height: 268px;
    width: 100%;
    cursor: grab;
}

#legalapp{
    margin-bottom: 120px;
}

.slick-prev
{
    left: 22% !important;
    z-index: 2;
}

.slick-dots{
    padding-left: 22% !important;
    text-align: left !important;
    width: 78% !important;
}


/* ---------NAV PROJECTS----------  */
#menu-projects{
    position: fixed;
    top: 0;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 120px;
    z-index: 4;
    background: rgb(248,248,248);
    background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 15%, rgba(248,248,248,1) 85%, rgba(248,248,248,0) 100%);
}

.nav-elem-p{
    font-size: 18px;
    background: rgb(248,248,248);
    background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 50%, rgba(248,248,248,0) 100%);
}

@media (max-width: 768px){
    .project-info{
        margin-left: 24%;
    }
    .slick-dots{
        padding-left: 24% !important;
        width: 76% !important;
    }
    #menu-projects{
        left: 0px;
    }
}

@media (max-width: 640px){
    #menu-projects{
        top: calc(100vh - 60px);
        left: 0px;
        flex-direction: row;
        height: 50px;
        width: 100%;
        height: auto;
        z-index: 4;
        background: rgb(248,248,248);
        background: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 25%, rgba(248,248,248,1) 85%, rgba(248,248,248,0) 100%);
    }

    .nav-elem-p{
        width: 20%;
        margin: 0px 3%;
        padding: 20px 0%;
        background: rgb(248,248,248);
        background: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 50%, rgba(248,248,248,0) 100%);
    }

    .project-info{
        margin-left: 15%;
        width: 80%;
    }

    .slick-prev{
        left: 15px !important;
        z-index: 2;
    }
    .slick-next{
        right: 15px !important;
    }
    .slick-dots{
        padding-left: 0 !important;
        width: 100% !important;
        text-align: center !important;
    }
    .slick-dots li{
        margin: 0 2px !important;
    }
}
