body {
    opacity: 0;
    transition: opacity 0.5s;
}

/* ---------HEADER----------  */
header {
    height: 100vh;
    width: 100%;
    /* display: none; */
}

#mesh-header-container {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: stretch;
}

.mesh-header {
    width: 33.33%;
}

.mesh-header-square {
    position: absolute;
    width: 1%;
    min-width: 14px;
}

#mesh-header-square1 {
    left: calc(33.33% - 0.5%);
    top: calc(55vh * 0.6666 - 0.5%);
}

#mesh-header-square2 {
    left: calc(66.66% - 00.5%);
    top: calc(55vh * 0.3333 - 0.5%);
}

#logo-header {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-header img {
    margin: 0;
    width: 10%;
    min-width: 150px;
}

/* ---------NAV----------  */
nav {
    position: absolute;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80px;
    z-index: 4;
}

#nav-line {
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: var(--light-gray);
    margin: 10% 0;
    z-index: -2;
}

.nav-element {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--light-gray);
    margin: 2.5vh 0;
    padding: 20px 0;
    width: auto;
    text-align: center;
    background-color: var(--bg);
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: 200ms;
}

.nav-element h6 {
    margin: 0;
    padding: 0;
    font-family: var(--serif);
    font-weight: 900;
    font-size: var(--text-body-size);
}

.nav-elem-p h6 {
    writing-mode: horizontal-tb !important;
}

.nav-main-selected h6 {
    color: var(--dark-green);
}

.nav-selected h6 {
    color: var(--dark-green);
    writing-mode: vertical-rl;
}

@media (max-width: 1170px) {
    nav {
        right: 0px;
    }
}

@media (max-width: 640px) {
    nav {
        background-color: var(--bg);
        position: fixed;
        bottom: 0;
        top: auto;
        padding: 4px 16px;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        height: 50px;
        z-index: 4;
    }

    .nav-element {
        padding: 16px 6px;
        background: rgb(248, 248, 248);
        background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 50%, rgba(248, 248, 248, 0) 100%);
    }

    #nav-line {
        width: 90%;
        height: 1px;
        margin: 0;
    }

    .nav-selected h6 {
        writing-mode: horizontal-tb;
    }
}

/* ---------INTRO----------  */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
    max-width: 532px;
}

#intro-header {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    width: 38%;
}

#photo-container {
    position: relative;
    width: 35%;
    background: linear-gradient(180deg, var(--light-green), #043526);
}

#photo {
    width: 90%;
    max-width: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}


#intro-header h2 {
    width: 100%;
    background-color: var(--bg-green);
    padding: 32px;
    flex: 1;
    align-items: center;
}

#text-highlight {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.highlight-borders {}

.highlight-borders p {
    margin: 12px 0px;
}


@media (max-width: 768px) {

    .highlight-borders {
        padding: 12px 0;
    }
}


@media (max-width: 640px) {
    #photo-container {
        position: relative;
        width: 45%;
        background: linear-gradient(180deg, var(--light-green), #043526);
    }

    #photo {
        width: 65%;
    }

    #content-intro {
        flex-direction: column;
        width: 75%;
    }

    #intro-header{
        width: 100%;
    }

    #intro-header h2 {
        padding-right: 50%;
    }
}

@media (max-width: 460px) {
    #photo {
        width: 80%;
    }
}

/* ---------KNOWLEDGE----------  */

#knowledge {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-height: calc(100vh - 160px);
}

#content-knowledge {
    width: 44%;
    height: auto;
    max-width: 800px;
    position: relative;
}


#list-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: relative;
    top: 0;
    left: -12%;
    width: 124%;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-align: center;
    width: 23.5%;
    position: relative;
    margin-bottom: 10.6%;
}

.square-knowledge {
    position: absolute;
    width: 14px;
    left: calc(50% - 7px);
    top: 0;
}

.dot-skill {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--light-gray);
    margin-top: -1%;
}

.line-skill {
    width: 2px;
    height: 50%;
    background-color: var(--light-gray);
    position: absolute;
    top: -42%;
}

.skill h6 {
    margin-top: 15%;
    margin-bottom: 9%;
    width: 100%;
    height: 26.8%;
    color: var(--dark-gray);
}

.skill-A h6 {
    font-weight: normal;
    font-size: 14px;
    font-family: var(--sans-serif);
}

.skill-B h6 {
    font-weight: normal;
    font-size: 14px;
    font-family: 'Arvo', serif;
    font-style: italic;
}

.skill-C h6 {
    font-weight: normal;
    font-size: 14px;
    font-family: 'Coming Soon', sans-serif;
}

.skill-main h6 {
    margin-top: 25%;
    color: var(--black) !important;
    font-family: var(--serif);
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
}

#content-academic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

#content-academic h2 {
    width: 200px;
    margin: 0 40px 0 0;
}

#academias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.academia {
    flex-basis: 40%;
    flex: 1;
    min-width: 210px;
    max-width: 48%;
}

.logo-container{
    background-color: white;
    border-radius: var(--corner-radius);
    margin-bottom: 16px;
}

.academia img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

@media (max-width: 768px) {
    #content-knowledge {
        width: 50%;
    }

    #content-academic {
        flex-direction: column;
        align-items: flex-start;
    }

    #content-academic h2 {
        margin: 0 0 40px 0;
    }

    .academia img {
        height: 100px;
    }
}

@media (max-width: 640px) {
    #content-knowledge {
        width: 70%;
        height: 90%;
    }

    .skill {
        margin-bottom: 17.6%;
    }

    .skill-main h6 {
        font-size: 12px !important;
    }

    .skill-A h6,
    .skill-B h6,
    .skill-C h6 {
        font-size: 10px !important;
    }
}

@media (max-width: 500px) {
    .skill {
        margin-bottom: 11.6%;
    }

    .academia{
        width: 100%;
        max-width: none;
    }

    .academia img {
        width: 100%;
        height: 80px;
    }
}

/* ---------WORK----------  */

#work {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#content-work {
    display: flex;
    align-content: flex-start;
    height: 100vh;
    gap: 16px;
}

.project-thumb {
    position: relative;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.thumb-big {
    width: 58%;
}

.thumb-small {
    width: 38%;
}

.thumb-half {
    width: 48%;
}

.thumb-img {
    width: 100%;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 250ms;
}

.project-thumb:hover .thumb-img {
    -webkit-filter: grayscale(0%);
    /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    opacity: 1;
}

.hover-effects {
    opacity: 0;
    transition: 250ms;
}

.project-thumb:hover .hover-effects {
    opacity: 1;
}

.thumb-text {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    width: 100%;
}

.thumb-text h5 {
    color: var(--dark-green);
}

.thumb-text p {
    color: var(--black);
}

@media (max-width: 768px) {
    #work {
        min-height: 100vh;
        height: auto !important;
    }

    #content-work {
        height: auto;
        max-height: none;
    }

    .project-thumb {
    }

    .thumb-gradient {
        opacity: 0;
    }

    .thumb-img {
        -webkit-filter: grayscale(0%);
        /* Chrome, Safari, Opera */
        filter: grayscale(0%);
        opacity: 1;
    }

    .thumb-big,
    .thumb-small {
        width: 100%;
    }

    .hover-effects {
        opacity: 1;
    }
}

@media (max-width: 640px) {
    #content-work {
        width: 100%;
    }

    .project-thumb {
    }
}

/* ---------CONTACT----------  */

#contact {
    padding: 80px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#globe {
    width: 46%;
    max-width: 1200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#content-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#contact-items {
    width: 36%;
}

#contact-items h3 {
    text-align: right;
}

.contact-item {
    display: flex;
    justify-content: flex-end;
    margin: 7.5% 0;
    text-decoration: none;
}

.contact-item:hover p {
    text-decoration: underline;
}

.contact-item p {
    margin: 0;
}

.icn-contact {
    width: 6%;
    height: 6%;
    min-width: 20px;
}


@media (max-width: 768px) {

    #contact {
        align-items: flex-start;
    }

    #globe {
        width: 86%;
    }

    #contact-items {
        width: 56%;
    }
}


@media (max-width: 640px) {
    #contact {
        padding: 40px 0;
        min-height: 650px;
        height: 101vh;
    }

    #content-contact {
        width: 85%;
    }

    #contact-items {
        width: 100%;
    }

    .contact-item {
        margin: 4.5% 0;
    }
}

/*-----PROJECTS-------*/
/* .project{
    width: 100%;
    padding: 60px 0;
}

.project-info{
    position: relative;
    width: 45%;
    max-width: 500px;
    margin-left: 22%;
    margin-bottom: 75px;
}

.project-info img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: -44px;
    top: 6px;
}

.project-title em{
    font-size: 13px;
    font-style: normal;
    color: var(--dark-gray);
}

.projects-carousel{
    height: 360px;
    width: 100%;
    cursor: grab;
}

#legalapp{
    margin-bottom: 120px;
}

.slick-prev
{
    left: 22% !important;
    z-index: 2;
}

.slick-dots{
    padding-left: 22% !important;
    text-align: left !important;
    width: 78% !important;
}
 */

/* ---------NAV PROJECTS----------  */
/* #menu-projects{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 120px;
    padding-left: 40px;
    z-index: 4;
    background: rgb(248,248,248);
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 92%, rgba(248,248,248,0) 100%);
}

.nav-elem-p{
    font-size: 18px;
    background: rgb(248,248,248);
    background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 50%, rgba(248,248,248,0) 100%);
}

@media (max-width: 768px){
    .project-info{
        margin-left: 24%;
    }
    .slick-dots{
        padding-left: 24% !important;
        width: 76% !important;
    }
    #menu-projects{
        left: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 640px){
    #menu-projects{
        top: calc(100vh - 60px);
        left: 0px;
        flex-direction: row;
        height: 50px;
        width: 100%;
        height: auto;
        z-index: 4;
        background: rgb(248,248,248);
        background: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 25%, rgba(248,248,248,1) 85%, rgba(248,248,248,0) 100%);
    }

    .nav-elem-p{
        width: 20%;
        margin: 0px 3%;
        padding: 20px 0%;
        background: rgb(248,248,248);
        background: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 50%, rgba(248,248,248,0) 100%);
    }

    .project-info{
        margin-left: 15%;
        width: 80%;
    }

    .slick-prev{
        left: 15px !important;
        z-index: 2;
    }
    .slick-next{
        right: 15px !important;
    }
    .slick-dots{
        padding-left: 0 !important;
        width: 100% !important;
        text-align: center !important;
    }
    .slick-dots li{
        margin: 0 2px !important;
    }
}
 */